body {
    margin: 0;
    padding: 0;
    font-family: 'headline-gothic-atf', sans-serif;
    background-color: #D51119; /* Rosso */
    color: #FEFDE8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    justify-content: center; /* Centra gli elementi verticalmente */
    align-items: center; /* Centra gli elementi orizzontalmente */
    text-align: center;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.button {
    font-size: 18px; /* Dimensione del testo */
    margin-top: 10px;
    text-decoration: none;
    padding: 15px 20px; /* Spaziatura interna */
    background-color: transparent; /* Sfondo trasparente */
    color: white; /* Colore del testo */
    border: 2px solid white; /* Bordo bianco */
    border-radius: 0; /* Bordo quadrato */
    cursor: pointer; /* Cambia il cursore a "mano" */
    width: fit-content; /* I bottoni occupano tutta la larghezza del contenitore */
    text-align: center; /* Allinea il testo al centro */
    transition: background-color 0.3s, transform 0.2s; /* Transizioni morbide */
    box-sizing: border-box; /* Garantisce che padding e bordo siano inclusi nella larghezza */
  }


.button:hover {
    background-color: #ffffff; /* Colore più scuro per hover */
    color: #D51119;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .button {
        padding: 12px 25px;
        font-size: 1rem;
    }
}

.pass-link {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #e63946;
    font-weight: bold;
}

.pass-link:hover {
    text-decoration: underline;
}

.logo {
    margin-bottom: 20px;
    max-width: 100px; /* Logo più piccolo */
}