body {
  font-family: 'Inter', sans-serif; /* Font principale per il corpo */
  margin: 0;
  padding: 0;
  background-color: #D51119;
  color: #FEFDE8;
}

#quiz-container {
  display: flex;
  flex-direction: column; /* Layout verticale */
  align-items: center;
  justify-content: center;
  height: 100vh; /* Altezza dell'intera viewport */
  text-align: center;
  padding: 0 20px; /* Margine interno per dispositivi stretti */
  box-sizing: border-box; /* Assicura che padding e margine non sforino */
  position: relative; /* Necessario per posizionare elementi figlio assoluti */
}

#question-counter {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px; /* Aumentato dalla dimensione originale */
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 10;
}

#question-title {
  font-family: "headline-gothic-atf", sans-serif; /* Font per le domande */
  font-size: 28px; /* Dimensione del testo */
  padding: 10px; /* Spaziatura interna */
  width: 60%; /* Larghezza del 60% della pagina */
  text-align: center; /* Allinea il testo al centro */
  margin: 0 auto; /* Centra il titolo orizzontalmente */
  position: relative; /* Permette un posizionamento stabile */
  min-height: 80px; /* Altezza minima per mantenere coerenza tra le domande */
  display: flex; /* Usa flexbox per gestione contenuto */
  align-items: center; /* Centra verticalmente il testo */
  justify-content: center; /* Assicura che sia centrato orizzontalmente */
}

#answer-options {
  font-family:'Inter', sans-serif;
  display: flex;
  flex-direction: column; /* Disposizione verticale */
  gap: 15px; /* Distanza tra i bottoni */
  align-items: center; /* Centra i bottoni orizzontalmente */
  justify-content: center; /* Centra verticalmente se necessario */
  width: 100%; /* Larghezza completa del contenitore */
  margin: 0 auto; /* Centra il contenitore */
  max-width: 400px; /* Limita la larghezza per una buona estetica */
  padding: 0;
  font-family: 'Inter', sans-serif; /* Font per le risposte */
}

.quiz-button {
  font-size: 18px; /* Dimensione del testo */
  margin-top: 10px;
  font-family:'Inter', sans-serif;
  padding: 15px 20px; /* Spaziatura interna */
  background-color: transparent; /* Sfondo trasparente */
  color: #FEFDE8; /* Colore del testo */
  border: 2px solid #FEFDE8; /* Bordo bianco */
  border-radius: 0; /* Bordo quadrato */
  cursor: pointer; /* Cambia il cursore a "mano" */
  width: 60%; /* I bottoni occupano tutta la larghezza del contenitore */
  text-align: center; /* Allinea il testo al centro */
  transition: background-color 0.3s, transform 0.2s; /* Transizioni morbide */
  box-sizing: border-box; /* Garantisce che padding e bordo siano inclusi nella larghezza */
}

.quiz-button:hover {
  background-color: #FEFDE8; /* Sfondo bianco al passaggio del mouse */
  color: #D32F2F; /* Cambia il colore del testo */
}

.quiz-button:active {
  background-color: #D32F2F; /* Sfondo rosso scuro al clic */
  color: #FEFDE8; /* Colore del testo bianco */
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1E1E1E;
  color: #FEFDE8;
}

#download-pass {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #D32F2F;
  font-weight: bold;
}

#download-pass:hover {
  text-decoration: underline;
}

#result {
  margin-top: 20px;
  text-align: center;
}

#result h2 {
  font-size: 24px;
}

#result p {
  font-size: 18px;
}

#customize-pass-form {
  margin-top: 20px;
}

#customize-pass-form input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#customize-pass-form button {
  padding: 10px;
  background-color: #D32F2F;
  color: #FEFDE8;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#customize-pass-form button:hover {
  background-color: #C2185B;
}

#custom-pass {
  margin-top: 20px;
}

#canvas-pass {
  margin-top: 20px;
  border: 1px solid #1E1E1E;
}

footer .highlight {
  font-weight: bold;
}

footer {
  background-color: #D51119;
  color: #FEFDE8;
  text-align: center;
  padding: 20px 0;
  position: relative;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "headline-gothic-atf", sans-serif;
}

footer a {
  display: inline-block;
}

footer img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
}

footer img:hover {
  transform: scale(1.1); /* Effetto hover per ingrandire il logo */
}