body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D32F2F;
  color: white;
}

#quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.quiz-step {
  width: 80%;
}

.question-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.answer-options label {
  display: block;
  margin: 10px 0;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid white;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:checked {
  background-color: white;
  border-color: white;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1E1E1E;
  color: white;
}

#download-pass {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #D32F2F;
  font-weight: bold;
}

#download-pass:hover {
  text-decoration: underline;
}

#quiz-container {
  display: flex;
  flex-direction: column; /* Layout verticale */
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.quiz-step {
  width: 80%;
}

#question-counter {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.answer-options {
  display: flex;
  flex-direction: column; /* Disposizione verticale per le risposte */
  gap: 15px; /* Spazio tra le opzioni */
  margin-top: 20px;
}

.answer-options label {
  cursor: pointer;
  display: flex;
  align-items: center;
}